/* deafult dynamic display block */ 
.ddblock-content blockquote {
  padding: 0;
  margin: 0;
  display: block;
} 
 
/*.ddblock-content img {
  margin: 0;
  padding: 5px; 
  border: 1px solid #ccc; 
  background-color: #eee; 
  top:  0;
  left: 0
}
*/
/* default dynamic display block pager */
.ddblock-pager-nav a.activeSlide  { 
  background: #88f; 
}
.ddblock-pager-nav a:focus { 
  outline: none; 
}

/* default dynamic display block number pager */
.ddblock-number-pager-nav  { 
  padding-bottom: 3px;
  position: relative; 
  left: 0; 
  display: block;
}
.ddblock-number-pager-nav a { 
  margin: 0 2px 2px 0; 
  padding: 0px 5px; 
  border: 1px solid #ccc; 
  background: #fc0; 
  text-decoration: none; 
  display: block;
  float: left;
}

/* default dynamic display block image pager */
.ddblock-image-pager-nav { 
  width: auto; 
  height: 220px;
  margin: 0px; 
  position: relative; 
  left:0px; 
  display: block;
}
.ddblock-image-pager-nav li { 
  width: 50px; 
  float: left; 
  margin: 0 10pt 5pt 0; 
  list-style: none; 
}
.ddblock-image-pager-nav a { 
  width: 50px; 
  padding: 3px; 
  display: block; 
  border: 1px solid #ccc; 
  background: #fc0;
}
.ddblock-image-pager-nav img { 
  border: none; 
  display: block 
}
